* {
  margin: 0;
  padding: 0; 
}

:root {
  --grey-white: rgb(230, 230, 230);
  --grey-light: rgba(72, 94, 133, 0.8);
  --grey: #3A4D6E;
  --grey-dark: #344461;
  --grey-hover: rgba(72, 94, 133, 0.05);
  /* 2581c4 */
  --blue-base: #2581c4;
}